@use '../../../../styles.scss';

.sidebar-left{
    width: 250px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    @include styles.addShadow(1);

    .sl-logo{
        max-width: 100%;
        padding: styles.$s-o;
        text-align: center;
        margin-bottom: 50px;
    }

    .sl-nav{
        max-width: 100%;
        padding: styles.$s-o;

        .sln-navigation, .second-nav{
            @include styles.resetList();
        }
        .sln-navigation{
            .nav-item{
                margin-bottom: styles.$s-o;

                a{
                    font-weight: 300;
                    color: styles.color(neutral, 500);
                    text-decoration: none;
                    padding: styles.$s-a;
                    display: block;

                    &.active, &:hover{
                        background-color: styles.color(primary, 0);
                        border-radius: 10px;
                    }
                }

                img{
                    max-height: 16px;
                    max-width: 16px;
                    margin-right: 10px;
                    display: inline-block;
                }

                .second-nav{
                    display: none;
                    .sn-item{
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}