@use '../../../../styles.scss';

.header{
    margin-top: 0;
    padding: styles.$s-m;
    max-width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid styles.color(primary, 200);

    img{
        max-height: 70px;
        @include styles.bpFactory($max: 750px){max-height: 50px;}
    }

    .nav{
        margin-left: auto;
        align-content: content;
        .n-items{
            @include styles.resetList();
            display: flex;
            .ni-item{
                margin: 10px;
                text-transform: uppercase;
                &:hover, &.active{
                    cursor: pointer;
                    color: styles.color(accent, 500);
                    font-weight: 600;
                }
            }
        }
    }
}