<div class="miette-container">
    <div class="sep">
        <div class="profil-card">
            <div class="pc-img" [style.background]="'url(../../../../assets/photos/' + miette.avatar + ')'"></div>
            <div class="pc-name">
                {{miette.name}}
            </div>
            <div class="pc-genre">
                {{miette.sexe}}
            </div>
            <div class="pc-dim">
                <div class="pc-weight">{{miette.weight}}kg</div>
                <div class="pc-height">{{miette.height}}cm</div>
            </div>
            <div class="pc-birth">
                Né(e) le : {{miette.birth}}
            </div>
            <div class="pc-look">
                Il/Elle ressemble le plus à {{miette.look}}
            </div>
        </div>
    </div>
    <div class="content">
        <app-topbar [title]="titles[0]" [subtitle]="titles[1]"></app-topbar>
        <div class="form">
            <div class="error" *ngIf="isSend">
                Votre pronostic a bien été envoyé !
            </div>
            <div class="form-avatar">
                <label>
                    <input type="radio" id="baby01" value="baby-01.jpeg" [(ngModel)]="miette.avatar"/>
                    <img src="../../../../assets/photos/baby-01.jpeg"/>
                </label>
                <label>
                    <input type="radio" id="baby01" value="baby-02.jpeg" [(ngModel)]="miette.avatar"/>
                    <img src="../../../../assets/photos/baby-02.jpeg"/>
                </label>
                <label>
                    <input type="radio" id="baby01" value="baby-03.jpeg" [(ngModel)]="miette.avatar"/>
                    <img src="../../../../assets/photos/baby-03.jpeg"/>
                </label>
                <label>
                    <input type="radio" id="baby01" value="batman.jpg" [(ngModel)]="miette.avatar"/>
                    <img src="../../../../assets/photos/batman.jpg"/>
                </label>
            </div>
            <div class="form-group">
                <label for="name">Nom</label>
                <input [(ngModel)]="miette.name" name="name" placeholder="Entrez votre nom"/>
            </div>
            <div class="form-group">
                <label for="email">Genre</label>
                <select [(ngModel)]="miette.sexe" name="genre">
                    <option value="Garçon">Garçon</option>
                    <option value="Fille">Fille</option>
                </select>
            </div>
            <div class="dim-inputs">
                <div class="form-group weight">
                    <label for="email">Poids (kg)</label>
                    <input type="number" step=".01" [(ngModel)]="miette.weight" name="weight" placeholder="Entrez votre email"/>
                </div>
                <div class="form-group">
                    <label for="email">Taille (cm)</label>
                    <input type="number" step=".01" [(ngModel)]="miette.height" name="height" placeholder="Entrez votre email"/>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Date de naissance (JJ/MM/AAAA)</label>
                <input [(ngModel)]="miette.birth" name="name" placeholder="Entrez la date de naissance"/>
            </div>
            <div class="form-group">
                <label for="name">Il/elle ressemble le plus à</label>
                <select [(ngModel)]="miette.look" name="look">
                    <option value="Sa mère">Sa mère</option>
                    <option value="Son père">Son père</option>
                    <option value="Son grand-père paternel">Son grand-père paternel</option>
                    <option value="Sa grand-mère paternelle">Sa grand-mère paternelle</option>
                    <option value="Son grand-père maternel">Son grand-père maternel</option>
                    <option value="Sa grand-mère maternelle">Sa grand-mère maternelle</option>
                    <option value="Batman">Batman</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Il/elle sera</label>
                <select [(ngModel)]="miette.hair" name="look">
                    <option value="blond">Blond</option>
                    <option value="brun">Brun</option>
                    <option value="roux">Roux</option>
                    <option value="chauve">Chauve</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Pronostic de</label>
                <input [(ngModel)]="miette.from" name="from" placeholder="Entrez votre nom"/>
            </div>
            <button class="btn-submit" (click)="sendProno()">Envoyer le prono !</button>
        </div>
    </div>
</div>