@use 'theme/colors';

@function list($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function create_color_map($color){
    $map-tone: ();

    @each $key, $value in colors.$tones{
        $map: ();
        $map: map-merge($map, ($key: hsl(map-get($color, h), map-get($color, s), $value)));
        $map-tone: map-merge($map-tone, $map);
    }
    @return $map-tone;
}