<div class="home-container">
    <div class="h-content">
        <div class="hero">
            <div class="h-illu">
                <img src="../assets/graphics/illu/home_01.svg"/>
            </div>
            <div class="ghost"></div>
            <div class="h-content">
                <h1 class="hc-title">
                    Ma chère Cigogne
                </h1>
                <p class="hc-text">
                    L’arrivée de notre bébé approche à grand pas, et nous avons regroupé ici, pour ceux qui le souhaitent, une liste d’idées cadeaux pour lesquels vous êtes certains de viser juste.
                </p>
                <button class="hc-btn" routerLink="lists">Accéder à la liste</button>
            </div>
        </div>
        <div class="categories">
            <h2>Les categories</h2>
            <ul class="f-cat">
                <li>
                    <i class="uil uil-list-ui-alt"></i>
                    <p>Tous les produits</p>
                </li>
                <li *ngFor="let cat of categories" routerLink="lists">
                    <i class="uil {{cat.icon}}"></i>
                    <p>{{cat.name}}</p>
                </li>
            </ul>
        </div>
        <div class="actions">
            <div class="a-title">
                <h2>Mais vous pouvez aussi</h2>
            </div>
            <div class="m-title">
                <h2>Une petite précision</h2>
            </div>
            <div class="p-card" *ngFor="let p of pages" id="{{p.link.tag}}">
                <div class="pc-hero">
                    <img src="../../../../assets/graphics/illu/{{p.illu}}"/>
                </div>
                <div class="pc-content">
                    <p class="pc-title">{{p.title}}</p>
                    <p class="pc-text">{{p.text}}</p>
                    <a class="pc-link" href="{{p.link.tag}}">{{p.link.label}} <i class="eva eva-arrow-forward-outline"></i></a>
                </div>
                
            </div>
            <div class="message">
                <img src="../../../../assets/graphics/illu/17.svg" class="illu" />
                <p>Evidemment, pensons à la planète, les cadeaux faits main ou d’occasion nous feront tout autant plaisir !</p>
            </div>
        </div>
    </div>
</div>