@font-face {
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"), url("src/assets/fonts/roboto-light.woff2") format("woff2"), url("src/assets/fonts/roboto-light.woff") format("woff"), url("src/assets/fonts/roboto-light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: book;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), url("src/assets/fonts/roboto-regular.woff2") format("woff2"), url("src/assets/fonts/roboto-regular.woff") format("woff"), url("src/assets/fonts/roboto-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: regular;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), url("src/assets/fonts/roboto-medium.woff2") format("woff2"), url("src/assets/fonts/roboto-medium.woff") format("woff"), url("src/assets/fonts/roboto-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: bbold;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), url("src/assets/fonts/roboto-bold.woff2") format("woff2"), url("src/assets/fonts/roboto-bold.woff") format("woff"), url("src/assets/fonts/roboto-bold.ttf") format("truetype");
}
html, body {
  background-color: #f9f9fb;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html > *, body > * {
  font-family: Roboto, Helvetica, sans-serif !important;
  font-size: 16px;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.products-container .pc-products {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 400px;
  padding: 0 16px;
  max-height: 100%;
}
.products-container .pc-products .pcp-card {
  width: 150px;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 2px 0 16px rgba(26, 26, 26, 0.05);
          box-shadow: 2px 0 16px rgba(26, 26, 26, 0.05);
}
.products-container .pc-products .pcp-card p {
  margin: 0;
}
.products-container .pc-products .pcp-card:hover {
  cursor: pointer;
}
.products-container .pc-products .pcp-card .bath {
  background: #eff5f1;
  color: #91ba9b;
}
.products-container .pc-products .pcp-card .security {
  background: #f9eceb;
  color: #d87974;
}
.products-container .pc-products .pcp-card .dodo {
  background: #fae6ff;
  color: #dd4efd;
}
.products-container .pc-products .pcp-card .games {
  background: #f3f2f2;
  color: #a8a6a3;
}
.products-container .pc-products .pcp-card .meal {
  background: #eff5f3;
  color: #91baac;
}
.products-container .pc-products .pcp-card .clothes {
  background: #f5f4ef;
  color: #bab091;
}
.products-container .pc-products .pcp-card .others {
  background: #f5f2ef;
  color: #baa291;
}
.products-container .pc-details {
  padding: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  max-height: 100%;
}
.products-container .pc-details .pcd-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
}
.products-container .pc-details .pcd-infos img {
  padding: 16px;
  max-height: 200px;
}
.products-container .pc-details .pcd-infos form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.products-container .pc-details .form-group {
  width: 100%;
  margin: 16px auto;
}
.products-container .pc-details .form-group label {
  display: block;
  font-size: 0.8em;
}
.products-container .pc-details .form-group input, .products-container .pc-details .form-group textarea, .products-container .pc-details .form-group select {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #c4c7d4;
  font-size: 1em;
  font-family: "Roboto";
}
.products-container .pc-details .form-group.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.products-container .pc-details .form-group.check input {
  max-width: 50px;
  vertical-align: middle;
}
.products-container .pc-details .form-group.check label {
  font-size: 1em;
}
.products-container .pc-details .form-group select {
  max-width: 150px;
}
.products-container .pc-details .btn {
  border: 0;
  background-color: #7c92d0;
  color: #eceff8;
  padding: 5px 10px;
  font-size: 1.1em;
  margin: 30px auto;
  display: block;
}