<div class="panier-container">
    <div class="pc-content">
        <div class="p-back">
            <a routerLink="/lists">
                <i class="eva eva-arrow-back-outline"></i> Retourner à la liste
            </a>
        </div>
        <app-topbar [title]="titles[0]" [subtitle]="titles[1]"></app-topbar>
        <div class="p-form">
            <div class="form-group">
                <label>Nom</label>
                <input name="name"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="name"/>
            </div>
        </div>
    </div>
</div>