<div class="list-container">
    <div class="lc-hero">
        <div class="header">
            <img src="../../../../assets/graphics/logo/logo.svg"/>
        </div>
        <div class="nav">
            <p>Découvrez</p>
            <h1>La Liste de naissance</h1>
            <div class="n-info weneed">
                <p class="w-text">Ce qui nous ferait plaisir</p>
                <p class="w-nb">22</p>
            </div>
            <div class="n-info weneed">
                <p class="w-text">Ce qui nous ferait plaisir</p>
                <p class="w-nb">22</p>
            </div>
        </div>
    </div>
    <div class="lc-content">
        <div class="lcc-infos">
            <p class="i-cat c-{{p.cat[0]}}">{{p.cat[0]}}</p>
            <h2 class="i-name">{{p.name}}</h2>
            <p class="i-desc">{{p.description}}</p>
            <p class="i-price">{{p.price}}€ - {{p.shop}}</p>
            <button class="i-btn"><i class="eva eva-flash-outline"></i> Je veux l'offrir</button>
        </div>
        <div class="lcc-visuel" [style.background]="'url(../../../../assets/photos/' + p.cat[0]+ '/' + p.img + ')'">
        </div>
    </div>
    <div class="lc-products" #productsList>
        <div [class.active]="product == p" (click)="showProduct(product,i)" class="lp-card" *ngFor="let product of products; let i = index">
            <div class="pc-cat {{product.cat[0]}}">
                <i class="eva eva-pantone-outline"></i>
            </div>
            <div class="pc-content">
                <div class="pcc-text">
                    <p class="ct-name">{{product.name}}</p>
                    <p class="ct-desc">{{product.description}}</p>
                </div>
            </div>
            <div class="pcc-actions">
                <ng-template #offert>
                    <button class="btn btn-success">Offert <i class="eva eva-checkmark-outline"></i></button>
                </ng-template>
            </div>
        </div>
    </div>
</div>