@use '../../../../styles';


.list-container{
    display: flex;
    flex-flow: wrap;
    position: relative;
    height: 100%;

    .header{
        margin-top: 0;
        padding: styles.$s-m;
        width: 100%;
        display: flex;
        border-bottom: 1px solid styles.color(primary, 200);

        img{
            max-height: 70px;
        }

        .nav{
            margin-left: auto;
            align-content: content;
            .n-items{
                @include styles.resetList();
                display: flex;
                .ni-item{
                    margin: 10px;
                    text-transform: uppercase;
                    color: styles.color(accent, 500);
                    font-weight: 600
                }
            }
        }
    }
    
    .lc-hero{
        flex: 1;
        height: calc(100% - 100px);
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-right: 1px solid styles.color(primary, 200);
        @include styles.bpFactory($max: 800px ){
            display: none;

            .l-plist{
                display: none;
            }
        }

        .nav{
            margin: 0 20px;
            margin-top: 20px;

            p{
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 200;
                margin: 0;
                color: styles.color(neutral, 400);
            }
            h1{
                color: styles.color(neutral, 600);
                margin: 0;
            }

            .n-info{
                margin: 30px 0;
                .w-text{
                    font-size: 14px;
                    color: styles.color(neutral, 500);
                }

                .w-nb{
                    font-size: 1.1em;
                    font-weight: bold;
                    color: styles.color(neutral, 600);
                    position: relative;
                    padding: styles.$s-a;

                    &:hover{
                        cursor: pointer;
                    }

                    &:before{
                        content: '';
                        position: absolute;
                        height: 3px;
                        width: 100px;
                        bottom: 0;
                        left: 0;
                        background-color: styles.color(accent, 300);
                        border-radius: 5px;
                    }

                    &:after{
                        content: '';
                        position: absolute;
                        height: 3px;
                        width: 70px;
                        bottom: 0;
                        left: 0;
                        background-color: styles.color(accent, 500);
                        border-radius: 5px;
                    }
                }


            }
        }
        .l-filters{
            margin: 0 auto;
            padding: 20px;
            .f-cat{
                display: flex;
                flex-flow: wrap;
                @include styles.resetList();
                li{
                    text-align: center;
                    border-radius: 40px;
                    padding: 0;
                    min-width: 30%;
                    color: styles.color(neutral, 600);
                    //background-color: white;
                    margin: 0 5px;
                    transition: ease-in 200ms;

                    i{
                        font-size: 40px;
                        display: block;
                    }

                    p{
                        margin: 10px 0 30px 0;
                        font-size: 0.8em;
                        font-weight: 600;
                    }
    
                    &.active, &:hover{
                        color: styles.color(tertiary, 500);

                        i{
                            color: styles.color(tertiary, 500);
                        }
                    }
    
                    &:first-child{
                        margin-left: 0;;
                    }
    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        .l-plist{
            max-height: 100%;

            .lp-product{
                display: flex;
                padding: styles.$s-o;
                align-items: center;
                border-top: 1px solid styles.color(primary, 100);

                &.active, &:hover{
                    cursor: pointer;
                    background-color: styles.color(primary, 0);

                }
                
                .p-img{
                    height: 70px;
                    width: 100px;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    border-radius: 20px;
                    margin-right: styles.$s-m;
                }

                .p-infos{
                    p{
                        margin: 0;
                        margin-bottom: styles.$s-a;
                        font-size: 20px;
                        font-weight: 600;
                        color: styles.color(neutral, 600);
                    }
                    .pi-cat{
                        padding: 3px styles.$s-a;
                        font-size: 14px;
                        border-radius: 5px;
                        text-transform: uppercase;
                        display: inline-block;
                        @each $key, $value in styles.$categories{
                            &.c-#{$key}{
                                color: styles.colorcat($key, 600);
                                background-color: styles.colorcat($key, 200);
                            }
                        }
                    }
                }

                
            }

        }

    }

    .lc-content{
        flex: 5;
        min-width: 60%;
        max-height: calc(100% - 100px);
        background-color: styles.color(primary, 0);
        @include styles.bpFactory($max: 800px ){flex-direction: column; margin-bottom: 500px;}

        .c-pinfos{
            display: flex;
            @include styles.bpFactory($max: 750px){
                flex-direction: column;
            }
            @include styles.bpFactory($min: 800){
                padding: styles.$s-o;
            }
            padding: 100px;

            .cpi-imgcontainer{
                position: relative;
                z-index: 1;

                &:hover{
                    &:before{
                        transform: rotate(10deg);
                        border-radius: 10px;
                    }
                }

                .cpi-img{
                    max-height: 300px;
                    width: auto;
                    margin-right: 20px;
                    @include styles.addShadow(1);
                    z-index: 9;
                    border-radius: 5px;
                }
                &:before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: -30px;
                    left: -30px;
                    background-color: styles.color(primary, 500);
                    z-index: -1;
                    border-radius: 5px;
                    transition: ease-in-out 300ms;
                }
            }

            .cpi-text{
                .i-cat{
                    padding: 3px styles.$s-a;
                    font-size: 14px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    display: inline-block;
                    @each $key, $value in styles.$categories{
                        &.c-#{$key}{
                            color: styles.colorcat($key, 600);
                            background-color: styles.colorcat($key, 200);
                        }
                    }
                }

                .i-name{
                    margin: 0;
                    font-size: 40px;
                }
    
                .i-desc{
                    color: styles.color(neutral, 500);
                    margin: 5px 0;
                }
    
                .i-price{
                    font-style: italic;
                    margin-top: 5px;
                }
            }
        }

        .c-pform{
            padding: 10px styles.$s-o;
            display: flex;
            align-items:flex-start;
            align-content:flex-start;

            h2{
                margin: 0;
                margin-left: styles.$s-o;
            }

            @include styles.bpFactory($max: 750px){
                flex-direction: column;
                
                h2{
                    margin: 10px 0;
                }
            }
            
            .pf-options{
                display: flex;
                .pfo{
                    text-align: center;
                    padding: styles.$s-o styles.$s-m;
                    margin: 0 styles.$s-m;
                    max-width: 100px;
                    background-color: white;
                    border-radius: 10px;
                    cursor: pointer;
                    @include styles.addShadow(1);

                    i{
                        font-size: 40px;
                    }

                    &.pfo-byhand{
                        color: styles.color(tertiary, 500);

                        &.active, &:hover{
                            background-color: styles.color(tertiary, 200);
                            color: styles.color(tertiary, 800);
                        }
                    }
                    &.pfo-paypal{
                        color: styles.color(accent, 500);
                        &.active, &:hover{
                            background-color: styles.color(accent, 200);
                            color: styles.color(tertiary, 800);
                        }
                    }
                    &.pfo-rib{
                        color: styles.color(primary, 500);
                        &.active, &:hover{
                            background-color: styles.color(primary, 200);
                            color: styles.color(primary, 800);
                        }
                    }
                }
            }

            .pf-inputs{
                margin: 0 auto;
                @include styles.bpFactory($max: 750px){
                    margin-top: styles.$s-o;
                }

                .form-group{
                    margin-bottom: styles.$s-o;
                    min-width: 350px;
                    input, label{
                        display: block;
                        margin: 0;
                        width: 100%;
                    }

                    label{
                        font-size: 0.9em;
                        color: styles.color(neutral, 500);
                        font-weight: 700;
                    }

                    input{
                        margin-top: styles.$s-a;
                        border: none;
                        @include styles.addShadow(1);
                        padding: styles.$s-a;
                    }
                }
                .i-btn{
                    @include styles.resetBtn();
                    background-color: styles.color(accent, 500);
                    border-radius: 20px;
                    padding: 5px 15px;
                    padding-left: 5px;
                    font-size: 18px;
                    color: styles.color(accent, 0);
                    font-size: 1em;
    
                    &:hover{
                        cursor: pointer;
                        i{
                            transform: scale(0.9);
                        }
                        
                    }
    
                    i{
                        transition: ease-in 200ms;
                        border-radius: 20px;
                        padding: 5px;
                        margin-right: 10px;
                        font-size: 20px;
                        color: styles.color(accent, 600);
                        background-color: styles.color(accent, 0);
                    }
                }
            }


        }

        .c-feedback{
            margin: styles.$s-o auto;
            max-width: 500px;
            text-align: center;

            .cf-img{
                max-width: 200px;
            }

            .cf-text{
                font-weight: 800;
            }
        }

        /*
        .lcc-infos{
            color: styles.color(neutral, 600);
            padding: styles.$s-o;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .i-btn{
                @include styles.resetBtn();
                background-color: styles.color(accent, 500);
                border-radius: 20px;
                padding: 5px 15px;
                padding-left: 5px;
                font-size: 18px;
                color: styles.color(accent, 0);

                &:hover{
                    cursor: pointer;
                    i{
                        transform: scale(0.9);
                    }
                    
                }

                i{
                    transition: ease-in 200ms;
                    border-radius: 20px;
                    padding: 5px;
                    margin-right: 10px;
                    font-size: 20px;
                    color: styles.color(accent, 600);
                    background-color: styles.color(accent, 0);
                }
            }
        }
        
        .lcc-visuel{
            flex: 1;
            max-width: 50%;
            max-height: 600px;
            margin-top: styles.$s-o;
            background-color: styles.color(neutral, 200) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            position: relative;
            z-index: 5;
            @include styles.bpFactory($max: 800px ){max-width: 100%;flex-order:1}
        }
        */
    }

    .lc-products{
        min-width: 100%;
        max-width: 100%;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        position: fixed;
        bottom: 0;
        @include styles.bpFactory($min: 800px ){
            display: none;
        }

        .lp-card{
            min-height: 120px;
            width: 150px;
            background-color: white;
            padding: styles.$s-m;
            border-radius: 10px;
            display: flex;
            margin: 10px;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;

            &:hover{
                cursor: pointer;
                @include styles.addShadow(1);
            }

            &.active{
                @include styles.addShadow(1);
                background-color: styles.color(primary, 500);
                .pc-content .pcc-text{
                    .ct-name{
                        color: white;
                    }
                }
            }

            @each $key, $value in styles.$categories{
                .#{$key}{
                    background: styles.colorcat($key, 100);
                    color: styles.colorcat($key, 500);
                }
            }

            .pc-cat{
                height: 50px;
                width: 50px;
                border-radius: 10px;

                i{
                    font-size: 20px;
                    margin: 15px 0 0 15px;
                }
            }

            .pc-content{
                margin: 10px 0;
                width: 100%;
                flex: 1;

                .pcc-text{
                    min-width: 150px;

                    .ct-index{
                        color: styles.color(primary, 200);
                        margin-bottom: 5px;
                        span{
                            font-size: 35px;;
                        }
                    }

                    .ct-name{
                        margin: 0;
                        margin-bottom: 5px;
                        color: styles.color(neutral, 800);
                        font-weight: 600;
                        font-size: 25px;
                    }
                }
            }
            .pcc-show{
                text-align: center;
                .btn{
                    cursor: pointer;
                    padding: 5px 10px;
                    border: 0;
                    font-weight: 500;
                    font-size: 0.8em;
                    border-radius: 20px;

                    &.btn-show{
                        background-color: styles.color(accent, 200);
                        color: styles.color(accent, 700);
                    }
                }

            }
            .pcc-actions{
                margin-top: auto;
                text-align: right;
                .btn{
                    padding: 8px 15px;
                    border: 0;
                    font-weight: 500;
                    font-size: 0.8em;

                    &.btn-primary{
                        background-color: styles.color(accent, 100);
                        color: styles.color(accent, 600);
                    }

                    &.btn-success{
                        background-color: styles.colorstates(success, 100);
                        color: styles.colorstates(success, 600);

                        i{
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}