<section class="sidebar-left">
    <div class="sl-logo">
        <img src="/assets/graphics/logo/logo.svg"/>
    </div>
    <nav class="sl-nav">
        <ul class="sln-navigation">
            <li *ngFor="let nav of navigationItems" class="nav-item">
                <a routerLink="/{{nav.link}}" routerLinkActive="active">
                    <img src="/assets/graphics/icons/{{nav.icon}}"/> {{nav.name}}
                </a>
                <ul *ngIf="nav.child" class="second-nav">
                    <li *ngFor="let list of lists" class="sn-item">
                        {{list.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</section>