@use '../../styles.scss';

.container{
    flex: 1;
    background-color: white;
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    .c-sidebar{
        position: fixed;
        @media screen and (max-width: 700px){display: none;}
        height: 100%;
    }

    .c-content{
        height: 100%;
        width: 100%;
        max-width: 100%;
        @media screen and (min-width: 700px){
            width: calc(100% - 250px);
            margin-left: styles.$sidebar-h;
        }
        
    }
}