$primary-font: Roboto !default;
$font-path: "src/assets/fonts";

@font-face {
    font-family: "Roboto";
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: local("Roboto Light"), url("#{$font-path}/roboto-light.woff2") format("woff2"), url("#{$font-path}/roboto-light.woff") format("woff"), url("#{$font-path}/roboto-light.ttf") format("truetype");
}
  
@font-face {
    font-family: "Roboto";
    font-style: book;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), url("#{$font-path}/roboto-regular.woff2") format("woff2"), url("#{$font-path}/roboto-regular.woff") format("woff"), url("#{$font-path}/roboto-regular.ttf") format("truetype");
}
  
@font-face {
    font-family: "Roboto";
    font-style: regular;
    font-weight: 500;
    font-display: swap;
    src: local("Roboto Medium"), url("#{$font-path}/roboto-medium.woff2") format("woff2"), url("#{$font-path}/roboto-medium.woff") format("woff"), url("#{$font-path}/roboto-medium.ttf") format("truetype");
}
  
@font-face {
    font-family: "Roboto";
    font-style: bbold;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto Bold"), url("#{$font-path}/roboto-bold.woff2") format("woff2"), url("#{$font-path}/roboto-bold.woff") format("woff"), url("#{$font-path}/roboto-bold.ttf") format("truetype");
}  
